<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:mvc="http://www.springframework.org/schema/mvc"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/mvc 
   http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">
<!-- kr/ac/doowon/spring/config.xml (설정 등록, bean 등록 관리) -->
    <!-- @responseBody에서 가상경로에서 간단한 문자열 전달할때 UTF-8로 처리 -->
     
   <mvc:annotation-driven>
    <mvc:message-converters>
        <!-- @ResponseBody로 String 처리할때 한글처리 -->
        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
            <property name="supportedMediaTypes">
                <list>
                    <value>text/html;charset=UTF-8</value>
                </list>
            </property>
        </bean>
    </mvc:message-converters>
</mvc:annotation-driven> <!-- mvc를 하면서 어노테이션을 사용하겠습니다. -->
   <mvc:default-servlet-handler/>   <!-- JSP 요청이 들어왔을때 톰캣이 처리해라. : 라는 뜻 -->
   <!-- 뷰 리졸버 정의-->
   <mvc:view-resolvers>
      <mvc:jsp prefix="/WEB-INF/view/" />
      <!-- SpringMVC/WEB-INF/view/ 전달될 뷰 이름 .jsp -->
   </mvc:view-resolvers>
   <!-- 컨트롤러 스캔 -->
   <context:component-scan base-package="kickoff.control" />
   <!-- mybatis 연결 : DataSource 설정(DB 연결) -->
   <bean class="org.apache.tomcat.jdbc.pool.DataSource" id="driverManagerDataSource">
      <property name="driverClassName" value = "oracle.jdbc.driver.OracleDriver" />
      <property name="url" value = "jdbc:oracle:thin:@localhost:1521:XE"/>
      <property name="username" value = "javauser"/>
      <property name="password" value = "1234"/>
   </bean>
   <!-- MyBatis설정 -->
   <!-- 위에서 만든 bean을 참조하고 싶으면 ref로 참조해서 id값 입력 -->
  
   <bean class="org.mybatis.spring.SqlSessionFactoryBean"
         id = "sqlSessionFactoryBean">
         
      <!-- DB 연결 -->
      <property name="dataSource" ref="driverManagerDataSource" />
      <!-- mapping : value안에서 저 경로 안에 존재하는 *.xml은 전부 매핑, 하지만 다른 곳에 위치한 경우 list로 하나씩-->
      <property name="mapperLocations">
         <list>
            <value>
            	classpath:kickoff/model/mybatis/*.xml
            </value>
         </list>
      </property>
   <property name="typeAliasesPackage" value="kickoff" />
   </bean>
   <!-- SqlSession 객체 생성 -->
   <bean class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg index = "0" ref = "sqlSessionFactoryBean" />
   </bean>
   <!-- 트랜잭션 설정 -->
   <bean id = "transactionManager"
      class = "org.springframework.jdbc.datasource.DataSourceTransactionManager">
      <property name="dataSource" ref = "driverManagerDataSource" />
   </bean>
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000" />
        <property name="maxInMemorySize" value="100000000" />
    </bean>
</beans>