@CHARSET "UTF-8";
.kortext{ /* 한글폰트 */
	font-family: "넥슨 풋볼고딕" 
}
.engtext{ /* 영문폰트 */
	font-family: "NEOTERIQUE"
}

.wrap{
	width: 961px;
	margin: 0  auto;
	padding: 1px 1px 1px 1px;
	background-color: #ccc;
}

.header{
	width: 959px;
	height: 190px;
	margin: 1 1 1 1;
	padding: 1px 1px 1px 1px;
	background-image: url(/kick_off/WebContent/img/mlogo.png);
	background: #ffffff;
}

.contents{
	width: 959px;
	float:left;
	margin: 0  auto;
	padding: 1px 1px 1px 1px;
	background: #ffffff;
}

.footer{
	clear: both;
	width: 961px;
	height: 150px;
	background: #ffffff;
}

.toparea {
	width: 940px;
	height: 25px;
	padding: 5px 5px 0 10px;
	border: 1px solid #999;
	border-left: none;
	border-right: none;
	background: #fbfbfb;
}
.tablestyle {
		height : 30px;
		padding:3px 4px 2px;
		color: #ffffff;
		border-top: 1px solid rgb(51,51,51);
		border-bottom : 1px solid rgb(51,51,51);
		background-color:rgb(51,51,51);
		
}

.line {
	border-top: 1px solid #cdcdcd;	
}

table.orderitem-list {
	width: 100%;
}

table.orderitem-list thead tr th {
	border-top: 2px solid #303030;
	border-bottom: 1px solid #d6d6d6;
	background: #f0f0f0;
	height: 25px;
}

table.orderitem-list tbody tr td {
	border-bottom: 1px solid #d6d6d6;
	padding: 3px;
}

table.orderitem-list tbody tr td table td {
	border: none;
}

table.orderitem-list tfoot tr td {
	border-bottom: 1px solid #efefef;
	background: #f7f7f7;
	height: 25px;
	text-align: right;
}

table.orderitem-list tfoot tr td table td {
	border: none;
}

